h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: #ffa511;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5px;
    text-decoration: teal double underline;
    text-transform: uppercase;
}